
# Python
__pycache__
*.py[cod]

# Data
data/
tmp/

# Secrets
secrets
certs
*.key
*.crt
.env

# Logs
logs/
*.log

# Distribution / packaging
build/
dist/
wheels/
lib/

# IDE
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# OSX
.DS_Store
